#!/usr/bin/env bash
# scripts/luarocks/install-rocks.sh hash: {{ include "dot_scripts/luarocks/executable_install-rocks.sh" | sha256sum }}

set -euo pipefail

"$HOME/.scripts/luarocks/install-rocks.sh"
