#!/usr/bin/env bash
# scripts/luarocks/install-rocks.sh hash: {{ include "scripts/luarocks/install-rocks.sh" | sha256sum }}

set -euo pipefail

"$HOME/.local/share/chezmoi/scripts/luarocks/install-rocks.sh"
