#!/usr/bin/env bash
# scripts/macos/bootstrap-launch-agents.sh hash: {{ include "scripts/macos/bootstrap-launch-agents.sh" | sha256sum }}

set -euo pipefail

"$HOME/.local/share/chezmoi/scripts/macos/bootstrap-launch-agents.sh"
