#!/usr/bin/env bash
# Scripts/luarocks/install_rocks.sh hash: {{ include "Scripts/luarocks/install_rocks.sh" | sha256sum }}

set -euo pipefail

"$HOME/.local/share/chezmoi/Scripts/luarocks/install_rocks.sh"
