[submodule "Library/Fonts/font-monolisa"]
	path = Library/Fonts/font-monolisa
	url = git@github.com:justinpxrk-dev/font-monolisa.git
	update = none
[submodule "Library/Fonts/lib/monolisa-nerdfont-patch"]
	path = Library/Fonts/lib/monolisa-nerdfont-patch
	url = git@github.com:justinpxrk-dev/monolisa-nerdfont-patch.git
	update = none
[submodule "dot_config/sketchybar/lib/SbarLua"]
	path = dot_config/sketchybar/lib/SbarLua
	url = https://github.com/FelixKratz/SbarLua.git
[submodule "dot_config/sketchybar/lib/sketchybar-app-font"]
	path = dot_config/sketchybar/lib/sketchybar-app-font
	url = https://github.com/kvndrsslr/sketchybar-app-font.git
[submodule "Library/Themes/Catppuccin/spicetify"]
	path = Library/Themes/Catppuccin/spicetify
	url = https://github.com/justinpxrk-dev/spicetify.git
[submodule "Library/Themes/tinted/tinted-terminal"]
	path = Library/Themes/tinted/tinted-terminal
	url = https://github.com/justinpxrk-dev/tinted-terminal.git
	branch = justinpxrk-dev
[submodule "Library/Themes/tinted/tinted-vscode"]
	path = Library/Themes/tinted/tinted-vscode
	url = https://github.com/justinpxrk-dev/tinted-vscode.git
	branch = justinpxrk-dev
[submodule "Library/Themes/tinted/tinted-shell"]
	path = Library/Themes/tinted/tinted-shell
	url = https://github.com/justinpxrk-dev/tinted-shell.git
	branch = justinpxrk-dev
[submodule "Library/Themes/Catppuccin/delta"]
	path = Library/Themes/Catppuccin/delta
	url = https://github.com/catppuccin/delta.git
[submodule "Library/Themes/Catppuccin/ghostty"]
	path = Library/Themes/Catppuccin/ghostty
	url = https://github.com/catppuccin/ghostty.git
