[submodule "Fonts/font-monolisa"]
	path = Fonts/font-monolisa
	url = git@github.com:justinpxrk-dev/font-monolisa.git
	update = none
[submodule "Fonts/lib/monolisa-nerdfont-patch"]
	path = Fonts/lib/monolisa-nerdfont-patch
	url = git@github.com:justinpxrk-dev/monolisa-nerdfont-patch.git
	update = none
[submodule "dot_config/sketchybar/lib/SbarLua"]
	path = dot_config/sketchybar/lib/SbarLua
	url = https://github.com/FelixKratz/SbarLua.git
[submodule "dot_config/sketchybar/lib/sketchybar-app-font"]
	path = dot_config/sketchybar/lib/sketchybar-app-font
	url = https://github.com/kvndrsslr/sketchybar-app-font.git
[submodule "Themes/lib/spicetify"]
	path = Themes/lib/spicetify
	url = https://github.com/justinpxrk-dev/spicetify.git
[submodule "Themes/lib/tinted-terminal"]
	path = Themes/lib/tinted-terminal
	url = https://github.com/justinpxrk-dev/tinted-terminal.git
	branch = justinpxrk-dev
[submodule "Themes/lib/tinted-vscode"]
	path = Themes/lib/tinted-vscode
	url = https://github.com/justinpxrk-dev/tinted-vscode.git
	branch = justinpxrk-dev
[submodule "Themes/lib/tinted-shell"]
	path = Themes/lib/tinted-shell
	url = https://github.com/justinpxrk-dev/tinted-shell.git
	branch = justinpxrk-dev
