dot_config/sketchybar/lib
Fonts
Themes/lib
Unmanaged/*
Wallpapers

# Gemini
!Unmanaged/gemini
!Unmanaged/gemini/gems

# Node
pnpm-lock.yaml

# Obsidian
.obsidian
!.obsidian/snippets

# Visual Studio Code
!Unmanaged/Visual Studio Code
