dot_config/sketchybar/lib
Library/Fonts
Library/Themes/tinted
Library/Themes/Catppuccin
Library/Unmanaged/*
Library/Wallpapers

# Gemini
!Library/Unmanaged/gemini
!Library/Unmanaged/gemini/gems

# Node
pnpm-lock.yaml

# Obsidian
.obsidian
!.obsidian/snippets

# Visual Studio Code
!Library/Unmanaged/Visual Studio Code