#!/usr/bin/env zsh
# shellcheck shell=bash disable=SC1072,SC1073

[[ "$HOME/.zshenv.zwc" -nt "$HOME/.zshenv" ]] || zcompile "$HOME/.zshenv" 2>/dev/null

export ZDOTDIR="$HOME/.config/zsh"

# XDG Base Directory
export XDG_CACHE_HOME="$HOME/.cache"
export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export XDG_STATE_HOME="$HOME/.local/state"
export XDG_RUNTIME_DIR="$TMPDIR"
export XDG_DATA_DIRS="/usr/share:/usr/local/share"
export XDG_CONFIG_DIRS="/etc/xdg"

# Dotfiles
export DOTFILES="{{ .chezmoi.sourceDir }}"

# Editor
export VISUAL=nvim
export EDITOR="$VISUAL"

# uv
export PATH="$HOME/.local/bin${PATH:+:$PATH}"

() {
	# Homebrew
	export HOMEBREW_PREFIX="/opt/homebrew"
	homebrew_opt_prefix="$HOMEBREW_PREFIX/opt"
	export PATH="$HOMEBREW_PREFIX/bin${PATH:+:$PATH}"

	# gnu-getopt
	export PATH="$homebrew_opt_prefix/gnu-getopt/bin${PATH:+:$PATH}"

	# grep
	export PATH="$homebrew_opt_prefix/grep/libexec/gnubin${PATH:+:$PATH}"

	# nvim
	export VIM="$XDG_CONFIG_HOME/nvim"
	export VIMRUNTIME="$homebrew_opt_prefix/neovim/share/nvim/runtime/"

	# Postgres
	export PKG_CONFIG_PATH="$homebrew_opt_prefix/icu4c@78/lib/pkgconfig${PKG_CONFIG_PATH:+:$PKG_CONFIG_PATH}"

	# sqlite
	export CPPFLAGS="-I$homebrew_opt_prefix/sqlite/include${CPPFLAGS:+ $CPPFLAGS}"
	export LDFLAGS="-L$homebrew_opt_prefix/sqlite/lib${LDFLAGS:+ $LDFLAGS}"
	export PATH="$homebrew_opt_prefix/sqlite/bin${PATH:+:$PATH}"

	# zlib
	export CPPFLAGS="-I$homebrew_opt_prefix/zlib/include${CPPFLAGS:+ $CPPFLAGS}"
	export LDFLAGS="-L$homebrew_opt_prefix/zlib/lib${LDFLAGS:+ $LDFLAGS}"
	export PKG_CONFIG_PATH="$homebrew_opt_prefix/zlib/lib/pkgconfig${PKG_CONFIG_PATH:+:$PKG_CONFIG_PATH}"
}
