[core]
    ignoreCase = false
    pager = delta

[branch]
    sort = -committerdate

[column]
    ui = auto

[commit]
    verbose = true

[delta]
    navigate = true

[diff]
    algorithm = histogram
    colorMoved = zebra
    colorMovedWS = allow-indentation-change

[fetch]
    prune = true

[filter "lfs"]
    process = git-lfs filter-process
    required = true
    clean = git-lfs clean -- %f
    smudge = git-lfs smudge -- %f

[help]
    autocorrect = prompt

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictStyle = zdiff3

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[rebase]
    autoStash = true
    autoSquash = true
    updateRefs = true

[rerere]
    required = true
    enabled = true

[url "ssh://git@github.com"]
    insteadOf = https://github.com

[user]
    email = 192945419+justinpxrk-dev@users.noreply.github.com
    name = Justin Park
